<!DOCTYPE html>
<html ng-app="i18nConsole">
<head>
    <title>Angular i18n Console</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="index.css" rel="stylesheet">
    <script src="/web/third_party/system.js"></script>
    <script src="/web/third_party/lodash.min.js"></script>
    <script src="/web/third_party/angular.js"></script>
    <script src="/web/bundle.js"></script>
</head>
<body ng-controller="rootCtrl">
  <div ng-if="errors.length > 0">{{errors|json}}</div>
  <div ng-repeat="message in messages">
    <div ic-message="message"></div><hr>
  </div>
  <br><hr><br>
</body>
</html>

